<li>
    <strong>
        <a href="<%= url %>"><%= title %></a> 
        <%= fandoms %>
    </strong>
    <br/> 
    written by <%= writers %>, performed by <%= performers %>
    <br />
    <strong>Summary: <%= summary %></strong>
</li>